<!--
  Start of the HTML Footer:
  This footers design and code was created by David Abdin for INTRA-TEC GmbH

  More of this page was designed and coded by David M. Abdin.
  Contact me on LinkedIn for business inquires https://www.linkedin.com/in/david-m-abdin-5656aa367/
-->
<div class="sh-footer">
  <div class="sh-footer__inner">
    <div class="sh-footer__content">
      <section class="sh-footer__column sh-footer__column--info">
        <h5 class="sh-footer__heading">
          <span class="sh-footer__heading-icon">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/info_14574710.svg" alt="Infos" loading="lazy" decoding="async" width="18" height="18">
          </span>
          Infos
        </h5>
        <ul class="sh-footer__list">
          <li><a href="/versandkosten">Versand</a></li>
          <li><a href="/zahlungsarten">Zahlungsarten</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/verpackungen-wiedernutzen">Verpackung und Umwelt</a></li>
          <li><a href="/retourenabwicklung">Rücksendungen</a></li>
          <li><a href="/ueber-uns">Über uns</a></li>
        </ul>
      </section>
      <section class="sh-footer__column sh-footer__column--community">
        <h5 class="sh-footer__heading">
          <span class="sh-footer__heading-icon">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/workgroup_12886873.svg" alt="Community" loading="lazy" decoding="async" width="18" height="18">
          </span>
          Community
        </h5>
        <ul class="sh-footer__list">
          <li><a href="https://www.instagram.com/schrauben_hammer/" target="_blank" rel="noopener">Instagram</a></li>
          <li><a href="https://www.facebook.com/p/Schrauben-Hammer-61568918530522/" target="_blank" rel="noopener">Facebook</a></li>
          <li><a href="https://www.tiktok.com/@schraubenhammer" target="_blank" rel="noopener">TikTok</a></li>
          <li><a href="https://www.youtube.com/@SCHRAUBEN-HAMMER" target="_blank" rel="noopener">YouTube</a></li>
          <li><a href="https://de.pinterest.com/schraubenhammer/" target="_blank" rel="noopener">Pinterest</a></li>
        </ul>
      </section>
      <section class="sh-footer__column sh-footer__column--legal">
        <h5 class="sh-footer__heading">
          <span class="sh-footer__heading-icon">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/balance_2970715.svg" alt="Rechtliches" loading="lazy" decoding="async" width="18" height="18">
          </span>
          Rechtliches
        </h5>
        <ul class="sh-footer__list">
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/agb">Allgemeine Geschäftsbedingungen</a></li>
          <li><a href="/privacy-policy">Datenschutzerklärung</a></li>
          <li><a href="#" data-sh-cookie-settings>Cookie Einstellungen</a></li>
          <li><a href="/barrierefreiheitserklaerung">Barrierefreiheitserklärung</a></li>
          <li><a href="/cancellation-rights">Widerrufsbelehrung</a></li>
        </ul>
      </section>
      <section class="sh-footer__column sh-footer__column--benefits">
        <h5 class="sh-footer__heading">
          <span class="sh-footer__heading-icon">
            <img src="https://bilder.schrauben-hammer.de/frontend/raise_1054356.svg" alt="Vorteile" loading="lazy" decoding="async" width="18" height="18">
          </span>
          Vorteile
        </h5>
        <ul class="sh-footer__benefits">
          <li>Immer schneller Versand, Standard 1-3 Tage, Express 1 Tag</li>
          <li>Kostenfreier Versand nach Deutschland ab 150€</li>
          <li>Schnelle Servicerückmeldung auch am Wochenende</li>
          <li>14-tägiges Rückgaberecht ohne Angabe von Grund</li>
          <li>Großkundenbetreuung mit direktem Ansprechpartner</li>
          <li>Über 1,5 Millionen erfolgreiche Käufe</li>
        </ul>
      </section>
    </div>
    <div class="sh-footer__bottom">
      <div class="sh-footer__brand-section">
        <div class="sh-footer__brands">
        <a href="https://schrauben-hammer.de" target="_blank" rel="noopener noreferrer">
       <img class="sh-footer__brand-logo" src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/SCHRAUBEN-HAMMER_Logo_335x150px.png" alt="SCHRAUBEN-HAMMER" loading="lazy" decoding="async" width="335" height="150">
      </a>
       <a href="https://fenster-hammer.de" target="_blank" rel="noopener noreferrer">
        <img class="fh-footer__brand-logo" src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/FH_Icon_big_Profile_Image_transparent_300px.png" alt="Fensterhammer" loading="lazy" decoding="async" width="300" height="300">
       </a>
      </div>
        <div class="sh-footer__legal">
          <p>
            Onlineshops der INTRA-TEC GmbH
            <a class="sh-footer__social-link" href="https://www.linkedin.com/company/intra-tec-gmbh/" aria-label="LinkedIn">
              <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/LinkedIn.png" alt="LinkedIn" loading="lazy" decoding="async" width="16" height="16">
            </a>
          </p>
          <p>
            <a href="https://maps.app.goo.gl/ym4S3ynU9V3umQgX8" target="_blank" rel="noopener">Stegerwaldstraße 1b &amp; 1d, 51427 Bergisch Gladbach</a>
          </p>
          <p>Öffnungszeiten: Mo-Fr von 8-13 Uhr &amp; 13:30 bis 16 Uhr</p>
          <p>
            Telefonisch erreichbar unter
            <a href="tel:+492204910980">02204 910 980</a>
          </p>
          <p>
            E-Mail:
            <a href="mailto:service@schrauben-hammer.de">service@schrauben-hammer.de</a>
          </p>
        </div>
      </div>
      <div class="sh-footer__logistics" aria-label="Zahlungs- und Versandinformationen">
        <div class="sh-footer__logistics-section">
          <h6 class="sh-footer__sub-heading">Unsere Zahlungsarten</h6>
          <div class="sh-footer__badge-grid sh-footer__badge-grid--payments" aria-label="Akzeptierte Zahlungsarten">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Apple_Pay.png" alt="Apple Pay" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/PayPal.png" alt="PayPal" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Klarna.png" alt="Klarna" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/American_Express.png" alt="American Express" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Mastercard.png" alt="Mastercard" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Visa.png" alt="Visa" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Billie_Rechnungskauf_fuer_Fimrnen.png" alt="Billie Rechnungskauf für Firmen" loading="lazy" decoding="async">
            <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Vorkasse.png" alt="Vorkasse" loading="lazy" decoding="async">
          </div>
        </div>
        <div class="sh-footer__logistics-section">
          <h6 class="sh-footer__sub-heading">Unsere Versandarten</h6>
          <div class="sh-footer__badge-grid sh-footer__badge-grid--shipping" aria-label="Versanddienstleister">
            <div class="sh-footer__shipping-item">
              <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/DHL_Standardversand.png" alt="DHL Standardversand" loading="lazy" decoding="async">
              <span class="sh-footer__shipping-label">Standardversand</span>
            </div>
            <div class="sh-footer__shipping-item">
              <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/GO__Express.png" alt="GO! Express" loading="lazy" decoding="async">
              <span class="sh-footer__shipping-label">Expressversand</span>
            </div>
            <div class="sh-footer__shipping-item">
              <img src="https://bilder.schrauben-hammer.de/frontend/Footer_v2_Media/Selbstabholer.png" alt="Selbstabholer" loading="lazy" decoding="async">
              <span class="sh-footer__shipping-label">Selbstabholung</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sh-footer__footer-row">
        <div class="sh-footer__copyright">
          {{ bottomText }}
        </div>
        <div class="sh-footer__trust-badges" aria-label="Sicherheits- und Unternehmensbadges">
          <img class="sh-footer__trust-badge sh-footer__trust-badge--anniversary" src="https://bilder.schrauben-hammer.de/frontend/UI_Icons/Badges/10__Jahre_Onlineshop_blau_v2.svg" alt="10 Jahre Onlineshop" title="SCHRAUBEN-HAMMER (schrauben-hammer.de) gibt es seit 2014" loading="lazy" decoding="async">
          <img class="sh-footer__trust-badge sh-footer__trust-badge--ssl" src="https://bilder.schrauben-hammer.de/frontend/UI_Icons/Badges/Sicher_Shoppen-SSL-Verschluesselung_300px.png" alt="Sicher shoppen mit SSL-Verschlüsselung" title="Standardmäßige Verschlüsselung Deiner Daten" loading="lazy" decoding="async">
          <img class="sh-footer__trust-badge sh-footer__trust-badge--company" src="https://bilder.schrauben-hammer.de/frontend/UI_Icons/Badges/Deutsches_Unternehmen_Badge_v2.svg" alt="Deutsches Unternehmen" title="Unternehmen unter deutscher Führung und Besitz sowie Sitz in Nordrhein-Westfalen" loading="lazy" decoding="async">
        </div>
      </div>
    </div>
  </div>
</div>
