{# Basis-Template für das Theme-Plugin. #}
<div class="hammer-theme-plugin-root" data-theme="hammer-lts-custom-theme">
    <!-- Hier werden nach und nach die Theme-Komponenten eingebunden. -->
</div>
