@font-face {
  font-family: "Industry-Demi";
  src: url("/plugins/HammerTheme/fonts/Industry-Demi.woff2") format("woff2"),
       url("/plugins/HammerTheme/fonts/Industry-Demi.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

:root {
  --hammer-price-font: "Industry-Demi", "Helvetica Neue", Arial, sans-serif;
  --hammer-price-color: #31a5f0;
}

.hammer-theme {
  display: block;
}

/* price font override */
.price,
.prices,
.crossprice,
.price-unit,
.vat,
.basket-item-price,
.item-price,
[class*="price"] .value,
[class*="price"] .amount {
  color: var(--hammer-price-color) !important;
  font-family: var(--hammer-price-font) !important;
}
